PORT=5000
MONGODB_URI=mongodb://localhost:27017/airtable_forms

JWT_SECRET=your_secret_key

AIRTABLE_CLIENT_ID=your_client_id
AIRTABLE_CLIENT_SECRET=yout_secret_id
AIRTABLE_REDIRECT_URI=http://localhost:5173/auth/callback

CLIENT_URL=http://localhost:5173

SERVER_URL=http://localhost:5000